
<div class="container-fluid searchDiv">
<app-search (searchEvent)="doSearch($event)"  />
</div>


<!-- <div *ngIf="tvDataResult.show.name === ''">No data available</div> -->
<div class="container">
 
<div class="row rowStyle m-5"  *ngFor="let d of MovieDataResult" >
    <ng-container *ngIf="d.id !== ''">
    <div class="col-4 imageDiv">
        <img class="image" 
        src="https://image.tmdb.org/t/p/original/{{ d.poster_path }}"
        alt="" />
      </div>
  <div class="col-8">
    <div class="p-5 text-content">
      <h2 style="color: red">{{ d.title }}</h2>
      <p><strong>Summary:</strong><br /></p>
      <p [innerHTML]="d.overview"></p>
      <!-- <p *ngIf="d.show.genres.length !== 0 ">Genre: {{ d.genres_ids }}</p> -->
      <!-- <p *ngIf="d.show.rating.average" ><mat-icon style="color: yellow">star_rate</mat-icon>Rating: {{d.show.rating.average}} / 10</p> -->
    </div>
  </div>
</ng-container>
</div>
</div>


<!-- <div *ngFor="let t of tvDataResult"> -->

<!-- </div> -->
<!-- <ng-container *ngFor="let t of tvDataResult"  >
        {{t.title}}
        {{t.description}} -->
<!-- {{tvDataResult.genre}} -->

<!-- <img src="tvDataResult.image" > -->
<!-- </ng-container> -->
