<nav class="navbar navbar-expand-lg navbar-expand-md text-white fixed-top navbarStyle" [ngStyle]="navbg">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink=""><i class="bi bi-film"></i><span class="showtime"> SHOW</span><span class="time">TIME</span></a>
     

         
    

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" routerLink="">Home</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link text-white" routerLink="search">Search</a>
            </li> -->
    
          </ul>
        </div>

           <app-search (searchEvent)="doSearch($event)"></app-search>
   
    </div>
  </nav>


<!-- 
<div class="container mt-5">
    
  <div>
  <app-content [tvDataResult]="searchResult"></app-content>
</div>



</div> -->


<router-outlet></router-outlet>