<nav class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink=""><i class="bi bi-film"></i><span class="showtime"> SHOWTIME</span></a>
        
        
        
        <div class="d-flex">
            <app-search class="" (searchEvent)="doSearch($event)"></app-search>
        </div>
    </div>
  </nav>



<!-- <div class="container mt-5">
    
  <div>
  <app-content [tvDataResult]="searchResult"></app-content>
</div>



</div> -->


<router-outlet></router-outlet>