*{
    margin: 0;
    padding: 0;
}


/* setting background img fixed */
/* .backdrop-image {
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
     } */


  /* .backdrop-text { */
    
    /* display: flex;
    flex: 2;
    justify-content: center; */

    /* align-self:  center;  */
  

/* position: absolute;
    right: 10%;
    left: 10%;
    top: 8rem; */
    /* margin: auto;   */
    
  
  /* } */

  /* .img-container {
    width: 500px;
    height: 600px;
  } */

  .backdrop {
    padding: 6rem;
  }

  .contentBox {
    background-color: rgba(0,0,0,.9);
    border-radius: 20px;
    width: 100%;
    height: 100%;
 
  }

  .posterImg {
    width: 90%;
    height: 90%;
    object-fit: contain;
    border-radius: 20px;
    /* display: block; */
    /* margin-left: auto;
    margin-right: auto; */
  
}


.button {
  display: flex;
  /* align-items: center; */
  justify-content: end;
}


.genres {
  display: flex;
  color: rgb(206, 206, 46);
  margin-bottom: 1rem;

}


/* width:'100%', height: '100%', position: 'fixed' */