*{
    margin: 0;
    padding: 0;
}


/* setting background img fixed */
.backdrop-image {
    width: 100%;
    min-height: 100%;
    opacity: 0.2;
    position: fixed;
    top: 0;
    left: 0;
     }


  /* .backdrop-text { */
    
    /* display: flex;
    flex: 2;
    justify-content: center; */

    /* align-self:  center;  */
  

/* position: absolute;
    right: 10%;
    left: 10%;
    top: 8rem; */
    /* margin: auto;   */
    
  
  /* } */

  /* .img-container {
    width: 500px;
    height: 600px;
  } */


  .posterImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* display: block; */
    /* margin-left: auto;
    margin-right: auto; */
    
    
  }

  .content-box {
    width: 100vw;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
  }

  .textBox {
    /* margin-left: auto;
    margin-right: auto; */
    
  }


