
<div class="contain-fluid backdrop" [ngStyle]="{background:
  'url(https://image.tmdb.org/t/p/original/' + getMovieDetails.backdrop_path +')'}" >

  <div class="mx-auto">
  <div class="row contentBox">
    <div class="col col-lg-4 col-md-3 col-sm-12 d-flex align-items-center justify-content-center">
      <img
        src="https://image.tmdb.org/t/p/original/{{getMovieDetails.poster_path}}"
        class="posterImg"
      />
    </div>
    <div class="col col-lg-8 col-md-9 col-sm-12 p-5 text-white textBox">
      <div class="button">
        <button type="button" class="btn btn-outline-danger p-2" routerLink="">
          Go Back
        </button>
      </div>
      <h3 class="mb-3">
        {{ getMovieDetails.title }}{{ getMovieDetails.name }}

        <a
          [href]="getMovieDetails.homepage"
          class="btn btn-danger p-1 align-top"
          target="_blank"
        >
          Website</a
        >
      </h3>

      <h5 class="mb-3">{{ getMovieDetails.tagline }}</h5>

      <div class="genres">
        <h5>Genre:&nbsp;</h5>
       <h5 *ngFor="let g of getMovieDetails.genres; let i = index">
          <p>{{ g.name }} &nbsp;</p>
        </h5>
      </div>

      <h5><i class="bi bi-film" style="color:#e50914"></i>&nbsp;Rating:&nbsp;{{ getMovieDetails.vote_average | number: "1.0-1" }}</h5>

      <p class="mt-4 mb-5">{{ getMovieDetails.overview }}</p>

     <div class="d-none d-lg-block">
      <youtube-player
        *ngIf="trailerID"
        videoId="{{ trailerID }}"
        suggestedQuality="highres"
        class="youtube"
        [startSeconds]="4"
        [endSeconds]="8"
      >
      </youtube-player>
    </div>
  
    <!-- <div class="d-lg-none"> -->
      <a href="https://www.youtube.com/watch?v={{trailerID}}" target="_blank" class="btn btn-danger p-1 d-lg-none">
       Watch Trailer 
      </a>
    <!-- </div> -->
    </div>
  </div>
</div>

</div>
