/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
body {
    width: 100%;
    height: 100vh;
    /* background-color: rgba(0, 0,0, .9); */
    /* background-color: #2d3436; */
    background: linear-gradient(315deg, #2d3436 0%, #000000 74%)  no-repeat right bottom;;
    background-size:cover;
    background-attachment:fixed;  
   
}

