<div class="container-fluid homeBox">
  <h5 class="text-white titleText">TV Shows Airing Today</h5>

  <div class="row">
    <div #widgetsContent class="todayShowContainer">
      <ng-container *ngFor="let today of todayTVResults; let i = index">
        <img
          [src]="today.show.image.original"
          alt="TV Image"
          class="todayImg largeposter"
          [routerLink]="['/tv', today.show.id]"
        />

        <!-- <h4 class="text-center text-light">{{today.show.name }}</h4> -->
      </ng-container>
    </div>

    <div class="arrow">
      <i class="bi bi-arrow-left-circle pointer" (click)="scrollLeft()"></i>
      <i class="bi bi-arrow-right-circle pointer" (click)="scrollRight()"></i>
    </div>
  </div>
</div>

<div class="contain p-2">
  <!-- trending movie -->
  <div class="row">
    <h5 class="text-white">Trending Movie</h5>
    <div class="trendingposter mt-3 p-2">
      <ng-container *ngFor="let t of trendingMovieResult">
        <img
          src="https://image.tmdb.org/t/p/original/{{ t.poster_path }}"
          class="trendingImg smallposter"
          alt="..."
          [routerLink]="['/tv', t.id]"
        />
      </ng-container>
    </div>
  </div>
</div>
