* {
  margin: 0;
  padding: 0;
}

.homeBox {
  padding-top: 6rem;
}

.titleText {
  font-weight: bold;
  font-size: 1.3rem;
}

.todayShowContainer {
  /* height: 600px; */

  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

/* move the images with <- -> key  */
.todayShowContainer::-webkit-scrollbar {
  display: none;
}

.todayImg {
  max-height: 500px;
  width: 100%;
  object-fit: contain;
  box-sizing: content-box;
  transition: transform 450ms;
}

.todayImg:hover,
.trendingImg:hover {
  transform: scale(1.06);
  cursor: pointer;
}

.largeposter {
  max-height: 600px;
}





/* .img {
    width: 450px;
    height: 100%;
    object-fit:cover;

  } */



.top-container {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}



.carousel-inner {
    height: 750px;
}

.back-image {
    height: 700px;
    object-fit: cover;
    opacity: .25;
}


/* .imgDiv {
  position: relative;
} */

.backdrop-image {
  min-width: 100vw;
  height: 700px;
  object-fit: cover;
  opacity: 0.2;
}

.backdrop-text {
  position: absolute;
  right: 10%;
  left: 10%;
  top: 8%;
  margin: auto;

}


.col-box {
  width: 500px;
  height: 600px;
  color: white;
}

.movie-image {
 width: 100%;
 height: 100%;
 object-fit: contain;  
 cursor: pointer;
}

.backdrop-content {
    display: flex;
    align-items: end;
    height: 500px;
}



/* TopRated Tv Show */

.trendingposter {
  height: 300px;
  display: flex;
  overflow: hidden;
 
}

.trendingImg {
    height: 100%;
    max-width: 200px;
    object-fit: contain;
    box-sizing: content-box;
    transition: transform 450ms;
    margin-right: 7px;
  }

  .smallposter {
    max-height: 500px;
  }
  

  /* Scroll Arrow */
.arrow {
    display: flex;
    justify-content: space-between;

  }
  
  .arrow i {
    margin-right: 20px;
    font-size: 2rem;
    color: rgb(206, 206, 46);
  }

  .pointer {
    color: white;
  }

  .leftArrow {
    
  }
  