

/* .homeToday {
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
} */

/* .carousel-inner {
    height: 700px;
}

.carousel-inner .carousel-item img {
    height: 700px;
    object-fit: cover;
}

.carousel-caption h2 {
    color: #E50914;
    font-weight: bold;
    font-size: 30px;
}

.carousel-caption p {
    color: #ffffff;
} */

.homeBox {
    padding-top: 50px;
}

  .titleText {
     font-weight: bold;
     font-size: 1.3rem;
    
  }
  
  .todayShowContainer {
    /* height: 600px; */

    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
  }

  /* move the images with <- -> key  */
.todayShowContainer::-webkit-scrollbar
{
    display: none;

}



.todayImg {
    max-height: 500px;
    width: 100%;
    object-fit: contain;
    box-sizing: content-box;
    transition: transform 450ms;

}

.todayImg:hover, .trendingImg:hover
{
    transform: scale(1.06);
    cursor: pointer;
}

.largeposter 
{
    max-height: 600px;
}


.trendingposter, .rowposter {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}


.trendingImg {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    box-sizing: content-box;
    transition: transform 450ms;
    margin-right: 7px;

}
.smallposter {
    max-height: 300px;
}



/* .img {
    width: 450px;
    height: 100%;
    object-fit:cover;

  } */


  .pointer {
    color: white;
  }

  /* Scroll Arrow */
.arrow {
    text-align: center;
    
}

.arrow i {
    margin-right: 20px;
    font-size: 2rem;
    color: rgb(206, 206, 46);
}