<div class="container-fluid homeBox">
  <h3 style="color:aliceblue; margin: 8px">Trending Movies</h3>
  <div class="contain-fluid">
    <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-inner">
        <div
          class="carousel-item active"
          data-bs-interval="10000"
          *ngFor="let trend of trendingMovieResult; let i = index"
          [ngClass]="{ active: i === 1 }"
        >
          <img
            src="https://image.tmdb.org/t/p/original/{{ trend.backdrop_path }}"
            class="d-block w-100 back-image"
            alt="..."
          />
          <div class="row backdrop-text">
            <div class="col-1"></div>
            <div class="col-3 col-box">
              <img
              src="https://image.tmdb.org/t/p/original/{{ trend.poster_path }}"
              class="d-block w-100 movie-image"
              alt= {{trend.title}}
              [routerLink]="['/tv', trend.id]"
            />
            </div>
            <div class="col col-box backdrop-content">
              <div>
               <h2 style="margin-bottom: 10px; color: rgb(216, 29, 29)" >{{trend.title}}</h2>
               <p>{{trend.overview}}</p>
              </div>
            </div>
            <div class="col-1"></div>
          </div>
        </div>
  
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <!--  -->
  <!-- <div class="container-fluid top-container">
    <ng-container class="" *ngFor="let data of trendingMovieResult">
      <div class="row">
        <div class="col">
          <div class="imgDiv">
            <img
              src="https://image.tmdb.org/t/p/original/{{ data.backdrop_path }}"
              class="backdrop-image"
            />
            <div class="row backdrop-text">
              <div class="col">
                testtest
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div> -->


<!-- trending movie -->

<div class="contain p-2">
  <div class="row">
    <h5 class="text-white">Top Rated TV Shows</h5>
    <div #widgetsTV class="trendingposter mt-3 p-2 ">
      <ng-container *ngFor="let tv of topRatedTVResult">
        <img
          src="https://image.tmdb.org/t/p/original/{{ tv.poster_path }}"
          class="trendingImg smallposter"
          alt={{tv.title}}
          [routerLink]="['/tv', tv.id]"
        />
      </ng-container>
    </div>
    <div class="arrow">
      <i class="bi bi-arrow-left-circle pointer leftArrow" (click)="scrollLeft()"></i>
      <i class="bi bi-arrow-right-circle pointer" (click)="scrollRight()"></i>
    </div>

  </div>
</div>

<!-- <h5 class="text-white titleText">TV Shows Airing Today</h5> -->

<!-- <div class="row">
  <div #widgetsContent class="todayShowContainer">
    <ng-container *ngFor="let today of todayTVResults; let i = index">
      <img
        [src]="today.show.image.original"
        alt="TV Image"
        class="todayImg largeposter"
        [routerLink]="['/tv', today.show.id]"
      />

  
    </ng-container>
  </div>

  <div class="arrow">
    <i class="bi bi-arrow-left-circle pointer" (click)="scrollLeft()"></i>
    <i class="bi bi-arrow-right-circle pointer" (click)="scrollRight()"></i>
  </div>
</div> -->
</div>
